.success {
    background: green;
}
.danger {
    background: red;
}

.toast__container {
    bottom: 20px;
    right: 20px;
    position: fixed;
}

.toast__item {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}